/* .main-home- */

.main-home-container {
    width: 100%; /* Ancho completo */
    background-color: #fefaf4;
}

.main-home-landing-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 1rem;
    padding-top: 10.5vh;
    background-image: url('../../../assets/Backgrounds/MainHome-WhiteBackground.jpg');
    background-size: cover;
    background-position: top;
}

.main-home-landing-container p {
    background-color: #fefaf4;
    border-radius: 50px;
}

.main-home-text-w-button-1 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.main-home-icon { 
    background-color:#a2cfc4;
    border-radius: 10px;
    padding: 3px 12px;
    margin: 0 10px;
    font-size: 12px;
}

.main-home-GuatemalaxUK { 
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0;
}

.main-home-GuatemalaxUK p {
    font-size: 14px;
}

.main-home-doubleimplication-icon {
    margin: 0 10px;
    font-size: 16px;
    align-self: center;
}

/* ------------- WELCOME SECTION --------------- */

/* Section Container */
.main-home-cg2-container {
    background-color: #044421;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.main-home-cg2-container p {
    color: #fafafa;
}


.main-home-cg2-box2{
    margin-top: 24px;
}

.cg2-t1 {
    font-family: 'KingsThing';
    font-size: 40px;
    line-height: 45px;
}

.cg2-t2 {
    letter-spacing: 5px;
    font-size: 14px;
}

.cg2-t3 {
    font-size: 14px;
    margin-top: 5px;
}

/* --------------- FARMERS SECTION ---------------- */

.main-home-cg5-container {
    display: flex;
    flex-direction: column;
    height: 95vh;
}

.main-home-cg5-container p, .main-home-cg5-container2 p{
    font-size: 14px;
}

.cg5-container1{
    order: 1;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cf4e2b;
}

.cg5-container1 > div {
    margin-bottom: 50px;
}

.cg5-container1 h1 {
    font-family: 'KingsThing';
    font-size: 40px;
    color: #fafafa;
}

.cg5-container1 p {
    color: #fafafa;
    order: 0;
}

/* Farmers Picture */

.cg5-container2 {
    flex: 1;
    background-image: url('../../../assets/Images/Farmers/Marcelino.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.cg5-container2 p {
    font-size: 30px;
    text-align:center;
    color: #fafafa;
    padding: 10px 20px;
    font-family: 'KingsThing';
}

.main-home-texticonbutton:hover{
    transform: scale(1.1);
}

.main-home-cg5-container2 {
    background-color: #fefaf4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px 0;
}

.main-home-cg5-container2 img {
    width: 150px;
}

.main-home-cg5-container2 > div {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}


.main-home-cg5-container2 > div > p {
    height: 70px;
}

/* ----------------- FORMS SECTION ---------------- */

.cg5-forms {
    display: flex;
    flex-direction: column;
}

.cg5-forms > * {
    
    color: #044421;
    flex: 1; 
}

.f--container h2 {
    font-family: 'KingsThing';
    font-size: 30px;
}

.fc-1 {
    background-color: #e6a318;
    display: flex;
    align-items: center;
}

.fc-1-contact-form {
    padding: 15%;
}

.small-text { 
    font-size: 14px  !important;
}

.fc-2 {
    display: flex;
    background-color: #628f76;
    align-items: center;
    justify-content: center;
}

/* -------------- CWK ------------------------- */

.cwk {
    background-color: #a2cfc4;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px 0;
}

.cwk > h1 {
    font-family: 'KingsThing';
    font-size: 4rem;
    text-align: center;
    padding: 0 40px;
    line-height: 1;
}

.cwk h2 {
    font-family: 'KingsThing';
    font-size: 2rem;
    margin-bottom:20px;
}

.cwk-containers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.cwk-containers > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 40px;
}

.cwk-containers {
    text-align: center;
    margin-bottom: 40px;
}

.cwk-containers svg {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

/* -------------- RESPONSIVE MODS ---------------- */

@media (max-width: 768px) {
    .main-home-landing-container p {
        font-size: 12px;
        font-weight:500;
    }

}

/* Media query para dispositivos de pantalla mediana (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Media query para dispositivos de pantalla grande (992px - 1199px) */
@media (min-width: 992px)  {
    p {
        font-size: 18px;
    }

    .main-home-landing-container {
        margin-top: 3vh;
        padding-top: 7vh;
    }

    .main-home-GuatemalaxUK p{ 
        font-size: 18px !important;
    }

    .main-home-landing-container p {
        font-size: 16px !important;
        font-weight:500;
    }

    /* ------------- WELCOME SECTION --------------- */

    .main-home-cg2-container {
        flex-direction: row;
        align-items: center;
    }

    .main-home-cg2-box1 {
        width: 30vw;
    }

    .cg2-t1{
        
        font-size: 40px !important;
    }

    .main-home-cg2-box2 {
        width: 30vw;
        margin-top: 0;
        margin-left: 45px;
    }

    /* ---------------- FARMERS SECTION ------------ */
    .main-home-cg5-container {
        flex-direction: row;
    }
    
    .cg5-container1{
        order: 0;
    }

    .cg5-container1 h1 {
        font-size: 55px;
    }

    .cg5-container1 p {
        font-size: 18px;
    }

    .cg5-container1 > div {
        margin-bottom: 70px;
    }

    .cg5-container2 {
        order: 1;
    }

    .cg5-container2 p {
        font-size: 30px !important;
    }

    .main-home-cg5-container2 {
        flex-direction: row;
        padding: 60px 200px;
    }

    .main-home-cg5-container2 img {
        width: 200px;
    }
    
    .main-home-cg5-container2 > div {
        width: 300px;
        margin-bottom: 20px;
    }
    
    
    .main-home-cg5-container2 > div > p {
        height: 100px;
    }

    /* ---------------- FORMS ---------------- */
    .cg5-forms {
        flex-direction: row;
    }

    .fc-1-contact-form {
        padding: 0 20%;
    }

    /*         CWK            */

    .cwk {
        
    height: 80vh;
    
    padding: 0;
    }

    .cwk-containers {
        flex-direction: row;
        margin: 0;
    }

    .cwk-containers > div {
        width: 25vw;
        margin:0;
    }

    .cwk > h1 {
        margin: 0;
    }


}
