@font-face {
    font-family: 'KingsThing';
    src: url('../../assets/Fonts/kingthings_organica/KingthingsOrganica.ttf') format('truetype');
  }
  

.FAQ-page-container {
    display: flex;
    flex-direction: column;
    min-height : 100vh;
}

.header-section{
    color: #202719;
    background-color: #9ED1C4;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-section div{
    width: 700px;
}

.header-section h3 {
    font-family: 'KingsThing';
    font-size: 3.5rem;
    margin: 0;
}

.questions-section {
    flex: 1;
    background-color: #2D3429;
}