.page-container-ice{
    background-color: #2D3429;
    min-height: 100vh;
}

.text-slogan p{
    color: #D79304;
}

.vectorial-art-1 {
    padding: 0 20vw;
}

.box-image{
    width: 100%;
}

.vr-vector{
    min-height: 100vh;
    color: #9ED1C4;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.vr-vector img{
    width: 40vw;
}