@font-face {
  font-family: 'PoppinsReg';
  src: url('../../assets/Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'KingsThing';
  src: url('../../assets/Fonts/kingthings_organica/KingthingsOrganica.ttf') format('truetype');
}


.page-container {
    display: flex;
    flex-direction: column;
    background-color: #2D3429;
    user-select: none;
    overflow-x: hidden;
}

.logo-header-container{
  position: fixed;
  left: 0;
  right: 0;
}

.logo-header-container, .text-slogan {
    
    display: flex;
    justify-content: center;
    
}

.logo-header-container img {
    height: 100px;
    cursor: pointer;
}

.section1 {
    display: flex;
    flex-direction: column;
    padding: 0 20vw;
    background-color: #2D3429;
    /* margin-top: 7rem; */
}

.vectorial-art-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

.logo-margin {
  height: 100px;
}


.text-slogan p {
    color: #fff;
    font-size: 20px;
    margin:0;
    margin-bottom: 20px;
}

.landing-mid-container{
  display: flex;
  justify-content: space-between;
}

.vector-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.vector-image{
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.vector-image img{
  width: 35%;
  object-fit: cover;
}

.vector-image-i1{
  object-position: left;
}

.vector-image-i2{
  object-position: right;
}

.buttons-ice { 
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.buttons-ice div{
    padding: 0.8rem 1.2rem;
    border-radius: 100px;
    margin: 10px;
    cursor: pointer;
}

.b1 {
    background-color: #9ED1C4;
}

.b2{
    background-color: #CF4E2B;
}

.landing-lower-container{
  display: flex;
  justify-content: space-between;
}



.grid-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.vertical-text {
  writing-mode: vertical-rl; /* Esta línea rota el texto verticalmente */
  text-orientation: upright; 
  font-size: 7rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #9ED1C4;
}

.vertical-text p {
  margin: 0;
}

.vertical-vector img {
  width: 150px;
}

.hor-text{
  font-size: 7rem;
  text-align: end;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 100px;
}

.hor-text p {
  margin: 0;
  color: #9ED1C4;
}

.cross-text{
  width: 300px;
}

.cross-text p {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  color: #9ED1C4;
  margin: 5px 0;
}

.cross-p2 {
  text-align: center;
}

.cross-p3 {
  text-align: end;
}

/* ------------------------------------------------------------------ */

.vr-experience-vector {
    color: #9ED1C4;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    width: auto;
}

.vr-experience-vector img {
  width: 520px;
}

.inside-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E6A318;
    font-family: 'KingsThing', sans-serif;
}

.inside-box h3{
    margin: 150px 0 30px 0;
    font-size: 3rem;
}

.list-box {
    list-style-type: none; /* Quita los puntos predeterminados de la lista */
    padding-left: 0; /* Elimina el padding predeterminado de la lista */
  
    li::before {
      content: '- '; /* Agrega guiones antes de cada elemento */
    }
  }

.list-box li {
    margin-bottom: 10px;
    font-size: 1.2rem;
}


.video-section {
    height: 100vh;
    margin: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width: 1080px;
    height: 580px;
    background-color: #000;
    border-radius: 10px;
}

.section2 {
    min-height: 100vh;
    background-color: #9ED1C4;
}
  
.section2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ice-box-image {
  width: 25vw; 
}

/* Small Devices (Iphone Vertical) */
@media screen and (max-width: 576px) {
  .text-slogan p {
    text-align: center;
  }

  .section1 {
    padding: 0 20px;
  }

  .landing-mid-container {
    flex-direction: column;
  }

  .landing-lower-container {
    justify-content: end;
  }

  .cross-text {
    display: none;
  }

  .vertical-text {
    writing-mode:horizontal-tb; /* Esta línea rota el texto verticalmente */
    font-size: 5rem;
  }

  .hor-text {
    font-size: 5rem;
    margin-right: 0;
  }

  .buttons-ice {
    flex-direction: column;
    align-items: center;
  }

  .b1, .b2 {
    width: 50%;
    text-align: center;
  }

  .vertical-vector {
    display: none;
  }

  .vr-experience-vector p{
    text-align: center;
    margin-bottom: 50px;
  }

  .vr-experience-vector img {
    width: 80vw;
  }

  /* .inside-box {
    width: 80vw;
  } */

  .inside-box h3{
    text-align: center;
  }
  
  .section2 {
    flex-direction: column;
    min-height: 100%;
    padding: 50px 0;
  }

  .ice-box-image {
    
  width: 80%; 
    margin-bottom: 30px;
  }

  .bottom-border {
    width: 200vw;
    overflow-x: hidden;
  }

  .video-section {
    height: auto;
  }

  .video{
    height: auto;
    width: auto; 
  }
}

/* Medium Devices (Tablets Horizontal) */
@media screen and (min-width: 768px) and (max-width: 992px) {

}

@media screen and (min-width: 1200px) {

}