.vr-page-container{
    background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk5Ni0wMDlfMS1rcm9pcjRkay5qcGc.jpg');
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
}

.main h1{
    color: #fff;
    margin: 0;
    font-size: 7rem;
}

.main div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main iframe{
    width: 80%;
    height: 60vh;
}