.header-container{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.header-container img {
    height: 5rem;
    cursor: pointer;
}

.header-container > div {
  
  display: flex;
  align-items: center;
}


.hc-section1 {
  flex: 1;
  justify-content: space-between;
  padding-left: 50px;
}

.hc-section1 img{
  display: none;
}

.hc-section2 {
  justify-content: center;
  flex: 1;
}

.hc-section3 {
  flex: 1;
  justify-content: end;
  padding-right: 50px;
}


.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Ocultar el menú por defecto */
  }

  .nav-list.open {
    display: flex; /* Mostrar el menú cuando la clase 'open' está presente */
    flex-direction: column;
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .nav-list li:last-child {
    margin-right: 0;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #333;
  }
  
  .nav-list li a:hover {
    color: #ff0000;
  }

  .menu-toggle {
    display: none; /* Ocultar el botón de menú por defecto */
}

@media screen and (max-width: 768px) {
  .menu-toggle {
      display: block;
  }

  .nav-list {
      display: none;
  }

  .hc-section1 img{
    display: inline;
  }

  .hc-section1 p {
    width: auto;
  }

  .hc-section1 {
    
    padding-left: 0;
  }

  .hc-section2 {
    display: none !important; 
  }

  .hc-section3 {
    padding-right: 30px;
  }
}