.header-container{
    display: flex;
    justify-content: space-between;
}

.header-container img {
    height: 5rem;
    cursor: pointer;
}

.header-container .hc-section1,
.header-container .hc-section3 {
  width: 30VW;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Otros estilos */
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none; /* Ocultar el menú por defecto */
  }

  .nav-list.open {
    display: flex; /* Mostrar el menú cuando la clase 'open' está presente */
}
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .nav-list li:last-child {
    margin-right: 0;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #333;
  }
  
  .nav-list li a:hover {
    color: #ff0000;
  }

  .menu-toggle {
    display: none; /* Ocultar el botón de menú por defecto */
}

@media screen and (max-width: 768px) {
  .menu-toggle {
      display: block;
  }

  .nav-list {
      display: none;
  }
}